.row.center-xs
  .drop.drop-theme-arrows.drop-element.drop-element-attached-bottom.drop-element-attached-center.drop-open.col-xs-12
    .drop-content
      h4 Skills
      p
        span Lorem ipsum 
        | dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. 
        | Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum 
        | lectus in convallis feugiat.

  .drop-target.col-xs-12
    img(src="assets/partials/chat-bubble/chibi1.png")

.row.center-xs
  .drop.drop-theme-arrows.drop-element.drop-element-attached-bottom.drop-element-attached-center.drop-open
    .drop-content
      h4 Hobbies
      p
        span Lorem ipsum 
        | dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. 
        | Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum 
        | lectus in convallis feugiat.

  .drop-target.col-xs-12
    img(src="assets/partials/chat-bubble/chibi2.png")

.row.center-xs
  .drop.drop-theme-arrows.drop-element.drop-element-attached-bottom.drop-element-attached-center.drop-open.col-xs-12
    .drop-content
      h4 Values
      p
        span Lorem ipsum 
        | dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. 
        | Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum 
        | lectus in convallis feugiat.

  .drop-target.col-xs-12
    img(src="assets/partials/chat-bubble/chibi3.png")
