

.drop-target.drop-target1.col-xs-12.text-center
  img(src="assets/partials/chat-bubble/chibi1.png")

.drop-target.drop-target2.col-xs-12.text-center
  img(src="assets/partials/chat-bubble/chibi2.png")
  
.drop-target.drop-target3.col-xs-12.text-center
  img(src="assets/partials/chat-bubble/chibi3.png")
