.drop-target {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  width: 300px;
  img {
    max-width: 300px;
    height: 100%;
    width: 100%;
  }
}

.drop-content {
	.drop-content-container {
		span {
		  color: $color-orange;
		}
		text-align: center;
		height: 500px;
		margin: 0.6em;
	}
}

.drop-element {
	position: static;
}

.chat-bubble-container {
	margin: 2em auto;
}

@media only screen and (min-width: 48em) { // 768px sm

	.drop-target {
	  padding-top: 0px;
	}

	.drop-content {
		height: 400px;
	}

	.drop-element.drop-theme-arrows {

		&.drop-element-attached-bottom.drop-element-attached-center .drop-content {
			margin-left: $arrowSize;
			margin-bottom: 0;

			&:before {
			  right: 100%;
			  top: 50%;
			  left: 0%;
			  margin-top: -$arrowSize;
			  border-right-color: $backgroundColor;
			  border-left: 0;
			  border-top-color: transparent;
			  border-bottom: $arrowSize solid transparent;
			}
		}
	}
}

@media only screen and (min-width: 64em) { // 1024px md
}

@media only screen and (min-width: 75em) { // 1200px lg

	.drop-content {
		height: 500px;
	}

	.drop-element.drop-theme-arrows {
		&.drop-element-attached-bottom.drop-element-attached-center .drop-content {
			margin-left: 0;
			margin-bottom: $arrowSize;

			&:before {
			  right: 0%;
			  top: 100%;
			  left: 50%;
			  margin-left: -$arrowSize;
			  margin-top: 0;
			  border-top-color: $backgroundColor;
			  border-bottom: 0;
			  border-right-color: transparent;
			  border-left: 16px solid transparent;
			}
		}
	}
}
