section
    h2.topic-title Interests
    p.topic-text Right now I am interested in #[span.accent-text functional programming] paradigms especially in Clojure and Elixir. I am also interested in distributed systems at scale.

    h2.topic-title Hobbies
    p.topic-text I enjoy hiking and snowboarding. The west coast is amazing for enjoying the great outdoors.

section
    p You can email me at #[a(href="mailto:andyytung@gmail.com") andyytung@gmail.com] or view my resume #[a(href="https://github.com/andytung/andytung.github.io/raw/master/resume.pdf") here].
    br
    p Click #[a(href="/") here] to return to main page.
