section
    h2.topic-title Current Fascination
    p.topic-text I am currently fascinated by distributed systems at scale. I find it amazing how companies are able to scale up their systems and still maintain reliability and availability.

    h2.topic-title Passion for Software
    p.topic-text My passion for software mainly derives from the idea of continuous learning. I love how there is always new problems to solve and new technologies to learn.

    h2.topic-title My Values
    p.topic-text I value autonomy and trust. I believe teams operate more efficiently autonomously and I trust each individual to have the diligence and alignment to carry out a professional project.

    h2.topic-title Hobbies
    p.topic-text I enjoy hiking and snowboarding. The west coast is amazing for enjoying the great outdoors.

    h2.topic-title Contact Information
    p.topic-text You can email me at #[a(href="mailto:andyytung@gmail.com") andyytung@gmail.com] or view #[a(href="https://github.com/andytung/andytung.github.io/raw/master/resume.pdf") my resume].
        |  To go back to the main page, #[a(href="/") click here].
