.about
    img(src='./dest/images/avatar.png').avatar
    p.introduction
        | Hi, I am a computer engineer
        | at the University of British Columbia.
        | I find joy in taking lines of code and crafting them into something beautiful.
