section
    h2.topic-title Passion for Software
    p.topic-text My passion for software mainly derives from the idea of continuous learning. It can be a double edge sword because I give in to the new technology hype to learn trending languages, frameworks, or tools.

    h2.topic-title Mission Statement
    p.topic-text My current mission is to find something I can be proud of to contribute back to the community. I believe as a developer community we need to help each other grow and stay strong together.

    h2.topic-title Fascination
    p.topic-text I am fascinated by distributed systems at scale. I find it amazing how companies with large user bases are able to scale up their systems and still have reliability, availability, and maintainability.

    h2.topic-title Values
    p.topic-text I value autonomy and trust. I believe teams operate more efficiently autonomously and I trust each individual to have the diligence and alignment to carry out a professional project.

    h2.topic-title Personal Goals
    p.topic-text My current personal goal is to have a better lifestyle by eating healthier and exercising more.

    h2.topic-title Hobbies
    p.topic-text I enjoy hiking and snowboarding. The west coast is amazing for enjoying the great outdoors.

    h2.topic-title Contact Information
    p.topic-text You can email me at #[a(href="mailto:andyytung@gmail.com") andyytung@gmail.com] or view #[a(href="https://github.com/andytung/andytung.github.io/raw/master/resume.pdf") my resume].
        |  To go back to the main page, #[a(href="/") click here].
