section
    h2.topic-title Current Fascination
    p.topic-text I am currently interested in distributed systems. I find it amazing how companies scale their systems while maintaining reliability and availability.

    h2.topic-title Passion for Software
    p.topic-text My passion for software mainly derives from the idea of continuous learning. I love how there is always new problems to solve and new technologies to learn.

    h2.topic-title My Values
    p.topic-text I value collaboration and trust. I believe that the best teams collaborate efficiently with each individual trusted to have the diligence and alignment to make the right decision.

    h2.topic-title Hobbies
    p.topic-text I enjoy hiking and snowboarding. The west coast is amazing for enjoying the great outdoors.

    h2.topic-title Contact Information
    p.topic-text You can email me at #[a(href="mailto:andyytung@gmail.com") andyytung@gmail.com] or view #[a(href="https://github.com/andytung/andytung.github.io/raw/master/resume.pdf") my resume].
        |  To go back to the main page, #[a(href="/") click here].
