section
    h2.topic-title Projects
    p.topic-text My latest project is a #[a(href="https://github.com/andytung/countdown-calendar") countdown calendar] that counts down the start time of events in the Android calendar written in Kotlin and uses RxJava.

    h2.topic-title Articles
    p.topic-text Currently I have no #[a(href="https://medium.com/@andytung") blog posts] but I plan to post some technical articles very soon.

    h2.topic-title Skills
    p.topic-text I started my internships as a front end mobile developer, eventually moved to backend, and now going to work on data center tooling for infrastructure.

    h2.topic-title Interests
    p.topic-text Right now I am interested in #[span.accent-text functional programming] paradigms especially in Clojure and Elixir. I am also interested in distributed systems at scale.

    h2.topic-title Hobbies
    p.topic-text I enjoy hiking and snowboarding. The west coast is amazing for enjoying the great outdoors.

    p You can email me at #[a(href="mailto:andyytung@gmail.com") andyytung@gmail.com] or view my resume #[a(href="https://github.com/andytung/andytung.github.io/raw/master/resume.pdf") here].
