footer.footer
    hr.line-top
    small.quote
        | "When you can't find anything to improve anymore,
        | it's not because you found perfection, but because
        | you have given up."
    small.copyright
        | © 2016 Developer Portfolio by
        a(href="https://github.com/andytung/" target="_blank")  Andy Tung
    hr.line-bottom
    small.resume #[a(href="https://github.com/andytung/andytung.github.io/raw/master/resume.pdf") view resume]

