footer.footer
    hr.line-top
    small.quote
        | "When you can't find anything to improve anymore,
        | it's not because you found perfection, but because
        | you have given up."
    .quote-stub
    small.copyright
        | © 2017 Developer Portfolio by
        a(href="https://github.com/andytung/" target="_blank")  Andy Tung
    hr.line-bottom
