header.landing
    a(href="/") #[h1 Andy Tung]
    h5.tagline
        span.tagline-item Leader.
        span.tagline-item Hacker.
        span.tagline-item Engineer.
    .headline-icon
        a(href="https://github.com/andytung/" target="_blank").icon-item #[img(src='./dest/images/github.svg').icon-image]
        a(href="https://linkedin.com/in/andy-tung/" target="_blank").icon-item #[img(src='./dest/images/linkedin.svg').icon-image]
        a(href="https://www.instagram.com/ayttung/" target="_blank").icon-item #[img(src='./dest/images/instagram.svg').icon-image]
        a(href="https://medium.com/@andytung" target="_blank").icon-item #[img(src='./dest/images/medium.svg').icon-image]
        a(href="https://twitter.com/ayttung" target="_blank").icon-item #[img(src='./dest/images/twitter.svg').icon-image]
