section#introduction
    img(src='./dest/images/avatar.png').avatar
    p.intro
        span.leading-text Hi, I study computer engineering
        |  at the University of British Columbia.
        | I find joy in taking lines of code and crafting them into something beautiful.
