section
    .avatar-container
        img(src='./dest/images/avatar.png').avatar
        a(href="/about").overlay
                h4 Click For More
    p.intro
        span.leading-text Hi, I am a computer engineering student
        |  at the University of British Columbia.
        | I find joy in taking lines of code and crafting them into something beautiful.
