section
    // h2.topic-title My Itinerary
    // p.topic-text I am currently learning about functional programming in elixir.

    h2.topic-title Latest Projects
    p.topic-middle-text My latest project is a #[a(href="https://github.com/andytung/countdown-calendar") countdown calendar] that counts down the start time of events in the Android calendar written in Kotlin and uses RxJava.
    p.topic-text Visit my #[a(href="https://github.com/andytung") Github] page to see more of my projects.

    h2.topic-title Personal Blog
    p.topic-middle-text My most recent blog post is #[a(href="https://medium.com/@andytung/the-future-of-chatbots-ea023cf874b1") The Future of Chatbots] which outlines what I learned while working at Microsoft.
    p.topic-text Stay tuned. I plan to write many more blog posts on #[a(href="https://medium.com/@andytung") Medium].

    h2.topic-title Contact Information
    p.topic-text You can email me at #[a(href="mailto:andyytung@gmail.com") andyytung@gmail.com] or view #[a(href="https://github.com/andytung/andytung.github.io/raw/master/resume.pdf") my resume].
        |  To learn more about me, #[a(href="/about") click here].
