section
    h2.topic-title My Itinerary
    p.topic-text I am currently learning about operating systems and planning to build a simple OS from scratch. I am also learning the clojure programming.

    h2.topic-title Latest Projects
    p.topic-text My latest project is a #[a(href="https://github.com/andytung/countdown-calendar") countdown calendar] that counts down the start time of events in the Android calendar written in Kotlin and uses RxJava.
    p.topic-text I also made a chrome extension that cycles through motivating quotes to help people #[a(href="https://github.com/andytung/stop-procrastinating") stop procrastinating].

    h2.topic-title Personal Blog
    p.topic-text Currently I have no #[a(href="https://medium.com/@andytung") blog posts] but I plan to post some technical articles very soon.

section
    p You can email me at #[a(href="mailto:andyytung@gmail.com") andyytung@gmail.com] or view my resume #[a(href="https://github.com/andytung/andytung.github.io/raw/master/resume.pdf") here].
