section
    h2.topic-title My Itinerary
    p.topic-text I am currently learning about functional programming in clojure. I want to apply clojure in a project once I'm familiar enough with it.

    h2.topic-title Latest Projects
    p.topic-middle-text My latest project is a #[a(href="https://github.com/andytung/countdown-calendar") countdown calendar] that counts down the start time of events in the Android calendar written in Kotlin and uses RxJava.
    p.topic-text Visit my #[a(href="https://github.com/andytung") github page] to see more of my projects.

    h2.topic-title Personal Blog
    p.topic-text Currently I have no #[a(href="https://medium.com/@andytung") blog posts] but I plan to post some technical articles very soon.

    h2.topic-title Contact Information
    p.topic-text You can email me at #[a(href="mailto:andyytung@gmail.com") andyytung@gmail.com] or view #[a(href="https://github.com/andytung/andytung.github.io/raw/master/resume.pdf") my resume].
        |  To learn more about me, #[a(href="/about") click here].
