footer#footer
  .footer-content
    hr
    .button-group
      a(href="https://github.com/andytung/andytung.github.io/" target="_black").button.source VIEW SOURCE ON GITHUB
      a(href="https://paypal.me/andytung/" target="_black").button.chocolate BUY ME CHOCOLATE
      a(href="#" target="_black").button.back-to-top BACK TO TOP

    .disclaimer
      small I'm pretty cool right?
    .copyright
      small © 2016 Developer Portfolio by 
        a(href="https://github.com/andytung/" target="_blank") Andy Tung
      small.separator  | 
      small All rights reserved
      small.separator  | 
      small Powered by Github Pages
    hr
    .thirdparty
      small 
        a(href="#header" target="_black") Click here to see the third party libraries used on this site.
  
