footer {
  background-color: $color-grey-dark;
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 75px 10px;
}

.button-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
}

.button {
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $color-grey-light;
  }
}

.disclaimer {
  text-align: center;
  padding: 20px 50px;
}

.copyright {
  padding-top: 30px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  small {
    padding: 5px 0;
  }
}

.separator {
  display: none;
}

@media only screen and (min-width: 48em) { // 768px
  .footer-content {
    width: 95%;
  }

  .button {
    width: 550px;
  }

  .copyright {
    display: inline;
  }

  .separator {
    display: inline;
  }
}

@media only screen and (min-width: 64em) { // 1024px

  .button-group {
    padding-top: 65px;
    padding-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .disclaimer {
    text-align: left;
    align-self: flex-end;
    max-width: 600px;
  }

  .button {
    width: 300px;
  }
}

@media only screen and (min-width: 75em) { // 1200px
  .footer-content {
    width: 95%;
  }

  .button {
    width: 350px;
  }
}
