include ../../partials/project/_project.jade

section.projects#projects
	.row
		h2.section-title.col-xs-12 Projects
	.row.between-xs.project-list
		+project('Sinxe', 'https://github.com/leonardofaria/sinxe-web', 'A progressive web application prototype for people alone for dinner to find other people to eat with. With the team at the hackathon, we integrated automatic completion for forms, real time chat for events, and service workers for offline-first experience.', 'Tools: Ember.js, EmberFire, Google Maps API, Google Places API, Facebook authentication')
		+project('Personal Portfolio', 'https://github.com/andytung/andytung.github.io/', 'Personal Portfolio is the current site you are looking at now. I designed it and coded it myself with the exceptions of some libraries that some other people did a wonderful job with. From this project, I became more familar with CSS properties and using flexbox.', 'Tools: Jade, SCSS, Gulp.js, Sketch')
		+project('Open Farm', 'https://devpost.com/software/openfarm/', 'Open Farm was a hackathon project at a event sponsored by IBM, Telus, Sierra Wireless, Ericsson, and TM Forums. This was the first hackathon that I made a working prototype and got second place at the event. The project was a solution for farmers to deliver produce from the farm to the table. The end product had a web application for ordering produce, a iOS application for tracking the quality and location of the produce, and a backend server in Node.js that I was in charge of making.', 'Tools: Node.js, Express.js, MongoDB, IBM Bluemix')
		+project('Obfuscated Java', 'https://github.com/andytung/obfuscated-java/', 'Obfuscated Java was challenge by a co-worker to make an obfuscated java program that does not seem like what it should do while reading the code. What I came up with is a cyphered text file that shows up in bytes. The cyphered text is then decrypted and printed to a file that the JVM will JIT commpile it and run the file.', 'Tools: Java')
		+project('Porale Monitor', 'https://docs.google.com/document/d/1TAhbZGvQ6H26oC25YsW1Ex-Oi-aq_GfmrHTG8iTVoPo/edit?usp=sharing', 'No Description.', 'Tools: Android SDK, C, Arduinos')
		+project('Because Moe Fork', 'https://github.com/andytung/because-moe/', 'No Description.', 'Tools: Node.js, Express.js, Mocha, Python, Regex')
		+project('Lunch and Learn Functional Programmming', 'https://github.com/andytung/lunch-and-learn-functional-programming/', 'No Description.', 'Tools: Reveal.js, HTML')
		+project('Arune Concept Site', 'https://github.com/andytung/satyr-site/', 'Arune Concept Site is a static website I created for a group of people who I met on reddit developing an indie game in Unreal Engine 4. At the time I had an interest of developing games in Unreal Engine 4, and I wanted to contribute what I could with the web development knowledge I already had. The game did not succeed but it was a fun experience talking to the stakeholder, understanding their needs, and designing the site.', 'Tools: Jekyll, Angular.js, Gulp.js, Liquid Markup, SCSS')
		+project('Enchant RPG', 'https://github.com/andytung/enchant-rpg/', 'No Description.', 'Tools: Enchant.js, Javascript')
