.landing-page {
  height: 100vh;
  background:
    linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(255, 0, 0, 0.45)
    ), url(./sections/header/landing-page.jpg);
  background: {
    size: cover;
    position: center;
  }
}

@import '../../partials/navigation-bar/_navigation-bar.scss';
@import '../../partials/landing-headline/_landing-headline.scss';
