header.landing-page
	nav.navigation
		ul
			li
				a(href=""): span.nav-item Contact
			li
				a(href=""): span.nav-item Experience
			li 
				a(href=""): span.nav-item Projects
			li 
				a(href=""): span.nav-item About

	.landing-headline
		h1 Andy Tung
		h5
			span.headline-item Leader.
			span.headline-item Enthusiast.
			span.headline-item Engineer.

	.empty
