nav.navigation
	ul
		li
			a(href="#footer"): span.nav-item Contact
		li
			a(href="#experience"): span.nav-item Experience
		li 
			a(href="#projects"): span.nav-item Projects
		li 
			a(href="#about"): span.nav-item About

header.landing-page#header
	.landing-headline
		h1 Andy Tung
		h5
			span.headline-item Leader.
			span.headline-item Enthusiast.
			span.headline-item Engineer.
