:root {
    /* primary theme color */
    --color-primary-dark: #C0392B;
    --color-primary-light: #D95E51;

    /* secondary theme color */
    --color-secondary-dark: #1D6876;
    --color-secondary-light: #55929D;

    /* call-for-action success and warning */
    --color-accent-dark: #66C17A;
    --color-accent-light: #D99351;

    /* shade of grey and white */
    --color-text-dark: #352F2E;
    --color-text-light: #F7F4F4;
    --color-background-light: #FEFEFE;
    --color-white: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300|Varela');

html, body {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Varela', sans-serif;
	background: var(--color-background-lighter);
    color: var(--color-text-dark);
    font-size: 16px;
}

h1, h2, h3, h4, h5, p, section, header {
    margin: 0;
    padding: 0;
}

section {
    margin: 24px;
}

h1, h5 {
    font-weight: normal;
    color: var(--color-text-light);
}

h1 {
    font-size: 42px;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background: linear-gradient(
		rgba(0, 0, 0, 0.45),
		rgba(25, 0, 0, 0.7)
    ), url(../images/mobile-landing.png);
    background-size: cover;
    background-position: center;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tagline {
    margin: 4px 0 12px;
}

.tagline-item {
    margin: 2px;
}

.icon-item {
    margin: 10px;
}

.icon-image {
    width: 24px;
    height: 24px;
}

.avatar {
    width: 120px;
    height: 120px;
    margin-left: 15px;
    float: right;
    shape-outside: circle(50%);
    clip-path: circle(50%);
}

.introduction {
    text-align: left;
    padding-top: 42px;
}

.leading-text {
    color: var(--color-primary-dark);
}

/* Extra Small Devices, Phones 480px */
@media only screen and (min-width: 30em) {

}

/* Small Devices, Tablets 768px */
@media only screen and (min-width: 48em) {
    h1 {
        font-size: 60px;
    }

    h5 {
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }

    section {
        margin: 60px;
        lost-center: 640px;
    }

    .landing {
        height: 100vh;
        background: linear-gradient(
		    rgba(0, 0, 0, 0.45),
		    rgba(25, 0, 0, 0.7)
        ), url(../images/web-landing.png);
        background-size: cover;
        background-position: center;
    }

    .tagline {
        margin: 4px 0 18px;
    }

    .tagline-item {
        margin: 4px;
    }

    .icon-item {
        margin: 18px;
    }

    .icon-image {
        width: 30px;
        height: 30px;
    }
}

/* Medium Devices, Desktops 922px */
@media only screen and (min-width: 62em) {

}

/* Large Devices, Wide Screens 1200px */
@media only screen and (min-width: 75em) {

}
