meta(http-equiv='x-ua-compatible', content='ie=edge')
title Hi, nice to meet you!
meta(name='description', content='Andy\'s personal blog')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='dest/styles/main.css')
