meta(http-equiv='x-ua-compatible', content='ie=edge')
title Hi, nice to meet you!
meta(name='description', content='Andy\'s personal portfolio site')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(property='og:image', content='https://andytung.github.io/dest/images/mobile-landing.png')
link(rel='stylesheet', href='dest/styles/main.css')
