extends ./templates/layout.pug

block content
    include ./sections/_header.pug
    main
        include ./sections/_introduction.pug
        include ./sections/_main.pug
    include ./sections/_footer.pug
