:root {
    /* primary theme color */

    /* secondary theme color */

    /* call-for-action success and warning */

    /* shade of grey and white */
}

@import url('https://fonts.googleapis.com/css?family=Lato:300|Varela');

html, body {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Varela', sans-serif;
	background: #1F1C1B;
    color: #352F2E;
    font-size: 16px;
}

h1, h2, h3, h4, h5, p, small, hr, section, header, footer, main {
    margin: 0;
    padding: 0;
}

section {
    margin: 18px;
}

section:first-child {
    margin: 24px 24px 18px;
}

section:last-child {
    margin: 18px 24px 24px;
}

section:only-child {
    margin: 24px;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #FEFEFE;
}

h1, h5 {
    font-weight: normal;
    color: #F7F4F4;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

small {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: #F7F4F4;
}

hr {
    border: none;
    border-top: 1px solid #F7F4F4;
    width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
}

hr:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
}

hr:last-child {
    margin-right: 0;
}

hr:nth-child(1n) {
    margin-right: 0;
    float: right;
}

hr:nth-child(1n + 1) {
    clear: both;
}

a {
    text-decoration: none;
    color: #55929D;
}

a:hover {
    color: #D95E51;
}

.landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
    min-height: 280px;
    background: linear-gradient(
		rgba(0, 0, 0, .45),
		rgba(25, 0, 0, .7)
    ), url(../images/mobile-landing.png);
    background-size: cover;
    background-position: center;
}

.tagline {
    margin: 4px 0 12px;
}

.tagline-item {
    margin: 2px;
}

.icon-item {
    margin: 10px;
}

.icon-image {
    width: 24px;
    height: 24px;
}

.avatar-container {
    width: 120px;
    height: 120px;
    margin-left: 15px;
    margin-bottom: 2px;
    float: right;
    -webkit-shape-outside: circle(50%);
            shape-outside: circle(50%);
    -webkit-clip-path: circle(50%);
            clip-path: circle(50%);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.overlay {
    width: 120px;
    height: 120px;
    opacity: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 14px;
    background: rgba(53, 47, 47, .5);
}

.avatar-container:hover .overlay {
    opacity: 1;
    color: #F7F4F4;
}

.intro {
    padding-top: 24px;
}

.leading-text {
    color: #C0392B;
}

.topic-title {
    margin: 0 0 10px;
}

.topic-middle-text {
    line-height: 1.8;
    margin-bottom: 24px;
}

.topic-text {
    line-height: 1.8;
    margin-bottom: 40px;
}

.topic-text:last-child {
    margin-bottom: 0;
}

.contact {
    padding: 10px 0;
    margin-bottom: 10px;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 24px;
}

.line-top {
    margin: 20px 0 14px;
}

.line-bottom {
    margin: 14px 0 20px;
}

.quote {
    font-size: 13px;
    width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
    margin-bottom: 30px;
}

.quote:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
}

.quote:last-child {
    margin-right: 0;
}

.quote:nth-child(1n) {
    margin-right: 0;
    float: right;
}

.quote:nth-child(1n + 1) {
    clear: both;
}

.quote-stub {
    width: calc(99.9% * 0/1 - (30px - 30px * 0/1));
}

.quote-stub:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
}

.quote-stub:last-child {
    margin-right: 0;
}

.quote-stub:nth-child(1n) {
    margin-right: 0;
    float: right;
}

.quote-stub:nth-child(1n + 1) {
    clear: both;
}

.copyright {
    text-align: right;
    width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
}

.copyright:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
}

.copyright:last-child {
    margin-right: 0;
}

.copyright:nth-child(1n) {
    margin-right: 0;
    float: right;
}

.copyright:nth-child(1n + 1) {
    clear: both;
}

/* Extra Small Devices, Phones 480px */
@media only screen and (min-width: 30em) {
    section {
        margin: 24px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    section:before {
        content: '';
        display: table;
    }
    section:after {
        content: '';
        display: table;
        clear: both;
    }

    section:first-child {
        margin: 60px auto 24px;
    }

    section:last-child {
        margin: 24px auto 60px;
    }

    section:only-child {
        margin: 60px auto;
    }
}

/* Small Devices, Tablets 768px */
@media only screen and (min-width: 48em) {
    h1 {
        font-size: 60px;
    }

    h5 {
        font-size: 24px;
    }
    
    section {
        margin: 24px;
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
    }
    
    section:before {
        content: '';
        display: table;
    }
    
    section:after {
        content: '';
        display: table;
        clear: both;
    }

    .landing {
        height: 40vh;
        min-height: 320px;
        background: linear-gradient(
		    rgba(0, 0, 0, .45),
		    rgba(25, 0, 0, .7)
        ), url(../images/web-landing.png);
        background-size: cover;
        background-position: center;
    }

    .tagline {
        margin: 4px 0 18px;
    }

    .tagline-item {
        margin: 4px;
    }

    .icon-item {
        margin: 18px;
    }

    .icon-image {
        width: 30px;
        height: 30px;
    }

    .footer {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer:before {
        content: '';
        display: table;
    }

    .footer:after {
        content: '';
        display: table;
        clear: both;
    }

    .quote {
        width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
    }

    .quote:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }

    .quote:last-child {
        margin-right: 0;
    }

    .quote:nth-child(2n) {
        margin-right: 0;
        float: right;
    }

    .quote:nth-child(2n + 1) {
        clear: both;
    }

    .quote-stub {
        width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
    }

    .quote-stub:nth-child(1n) {
        float: left;
        margin-right: 30px;
        clear: none;
    }

    .quote-stub:last-child {
        margin-right: 0;
    }

    .quote-stub:nth-child(2n) {
        margin-right: 0;
        float: right;
    }

    .quote-stub:nth-child(2n + 1) {
        clear: both;
    }
}

/* Medium Devices, Desktops 922px */
@media only screen and (min-width: 62em) {

}

/* Large Devices, Wide Screens 1200px */
@media only screen and (min-width: 75em) {

}
