extends ./templates/layout.jade

block content
	include ./sections/header/_header.jade
	include ./sections/about/_about.jade
	include ./sections/projects/_projects.jade
	include ./sections/experience/_experience.jade
	include ./sections/footer/_footer.jade	
