include ../../partials/experience-card/_experience-card.jade

section.experience
  .row
    h2 Experience
  +experience-card('Project 1', 'https://github.com/andytung/obfuscated-java', 'consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum lectus in convallis feugiat. Sed vulputate fringilla felis.', 'Tools: github java kgit ')
  +experience-card('Project 2', 'https://github.com/andytung/obfuscated-java', 'consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum lectus in convallis feugiat. Sed vulputate fringilla felis.', 'Tools: github java kgit ')
  +experience-card('Project 3', 'https://github.com/andytung/obfuscated-java', 'consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum lectus in convallis feugiat. Sed vulputate fringilla felis.', 'Tools: github java kgit ')
  +experience-card('Project 4', 'https://github.com/andytung/obfuscated-java', 'consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum lectus in convallis feugiat. Sed vulputate fringilla felis.', 'Tools: github java kgit ')