include ../../partials/experience-card/_experience-card.jade

section.experience#experience

	.row
		h2.section-title.col-xs-12 Experience
	+experience-card('Microsoft', 'January 2017 - Present', 'Currently having a blast at my internship with Microsoft.', 'Tools: C#, Bot Framework, Azure, Cognitive Services', 'assets/partials/experience-card/microsoft.jpg')
	+experience-card('Dynamic Leap', 'May 2016 - December 2016', 'Dynamic Leap is a company that offers development as a service located in my hometown Vancouver. At Dynamic Leap, I learned to make amazing enterprise Android and iOS applications and experienced how it is to interact directly with clients.', 'Tools: iOS SDK, Android SDK, Objective-C, Swift, Java', 'assets/partials/experience-card/dynamic-leap.png')
