.text-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

// Accent text
.leading-text {
	color: $color-blue-dark;
	font-size: 20px;
}

.section-title {
	padding-top: 1.5em;
	padding-bottom: 0.2em;
}