// Accent text on about section
.leading-text {
	color: $color-blue-dark;
	font-size: 20px;
}

.section-title {
	margin: 1.5em 0 0.7em;
}

.section-subtitle {
	margin: 0.5em 0;
}

.image-container {
	margin: 2em 0;
	display: flex;
	justify-content: center;
}