// Accent text on about section
.leading-text {
	color: $color-blue-dark;
	font-size: 20px;
}

.section-title {
	margin: 1.5em 0 0.7em;
}

.section-subtitle {
	margin: 0.5em 0;
}

.image-container {
	margin: 2em 0;
	display: flex;
	justify-content: center;
}

.button {
	background-color: $color-red-light;
	color: $color-grey-light;
	border: 0;
	box-shadow: 0 0 20px 0px $color-grey-dark;
	width: 300px;
	height: 60px;
}
