html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	background: $color-grey-light;
	font-size: 16px;
}

h1, h2, h3, h4, h5, p {
	font-weight: normal;
	margin: 0;
}

// Title

h1 {
	font-size: 72px;
	color: $color-white;
}

// Section title

h2 {
	font-size: 48px;
	color: $color-red-primary;
}

// Section subtitle

h3 {
	font-size: 36px;
	color: $color-blue-dark;
}

// subtitle, resume

h4 {
	font-size: 24px;
	color: $color-blue-dark;
}

// Navigation items
h5 {
	font-size: 24px;
	color: $color-white;
	font-weight: lighter;
}

// Large text

h6 {
	font-size: 18px;
}

// Dates

small {
	font-size: 14px;
}


// Github links

a {
	color: $color-blue-light;
	&:hover {
		color: $color-red-light;
	}
}

a.reverse {
	color: $color-red-light;
	&:hover {
		color: $color-blue-light;
	}
}

ul {
  list-style: none;
}

// List items

li {
	font-size: 24px;
	font-weight: lighter;
	a {
		text-decoration: none;
		color: $color-grey-light;
		&:hover {
			color: $color-red-primary;
		}
	}
}

// Regular text

p {
	color: $color-grey-dark;
	line-height: 225%;
}

// Section

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}