// primary theme color red
$color-red-primary: #C0392B;
$color-red-light: #D95E51;

// secondary theme color blue
$color-blue-dark: #1D6876;
$color-blue-light: #55929D;

// call-for-action success and warning
$color-green: #66C17A;
$color-orange: #D99351;

// shade of grey and white
$color-grey-dark: #352F2E;
$color-grey-light: #F7F4F4;
$color-white: #FFFFFF;
