meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(http-equiv='Content-Style-Type', content='text/css')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=1')
title Hi, nice to meet you!
link(href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700', rel='stylesheet', type='text/css')
link(href='assets/main.css', rel='stylesheet' type='text/css')
