.polaroid-container
  .polaroid
    .polaroid-img
      .gloss
        img(src="assets/partials/yukinon.jpg")
    figcaption Lorem Ipsum

  .polaroid
    .polaroid-img 
      .gloss
        img(src="assets/partials/yukinon.jpg")
    figcaption Lorem Ipsum

  .polaroid
    .polaroid-img 
      .gloss
        img(src="assets/partials/yukinon.jpg")
    figcaption Lorem Ipsum
