.polaroid-container
  .polaroid.col-xs-12
    .polaroid-img
      .gloss
        img(src="assets/partials/polaroid/yukinon.jpg")
    figcaption Lorem Ipsum

  .polaroid.col-xs-12
    .polaroid-img 
      .gloss
        img(src="assets/partials/polaroid/yukinon.jpg")
    figcaption Lorem Ipsum

  .polaroid.col-xs-12
    .polaroid-img 
      .gloss
        img(src="assets/partials/polaroid/yukinon.jpg")
    figcaption Lorem Ipsum
